*.pyc
vagrant/.vagrant/
vagrant/catalog/item_catalog.db
vagrant/catalog/client_secret_google.json
vagrant/catalog/uploads/*.jpg
vagrant/catalog/uploads/*.jpeg
vagrant/catalog/uploads/*.png
vagrant/catalog/uploads/*.gif
